@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: rgb(17 24 39);
}

body {
  height: 100%;
  background-color: rgb(17 24 39);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100%;
  background-color: rgb(17 24 39);
}
